<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a class="navbar-brand">vytzab</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/veeezeee" class="nav-link">Home</a></li>
            <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/expenses" class="nav-link">Expenses</a></li>
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>