<H1>Expense</H1>

<div class="container">

    <fieldset class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="expense.name" class="form-control" name="description" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="expense.description" class="form-control" name="description" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Amount</label>
        <input type="number" [(ngModel)]="expense.amount" class="form-control" name="description" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Category</label>
        <input type="text" [(ngModel)]="expense.category" class="form-control" name="description" required="required">
    </fieldset>
    <fieldset class="form-group">
        <label>Date of Expense</label>
        <input type="date" [(ngModel)]="expense.date" class="form-control" name="targetDate" required="required">
    </fieldset>

    <button class="btn btn-success" (click)="saveExpense()">Save</button>
</div>